<div class="container">
  <div class="row">
    <div class="col-md-auto">
    <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
    <div class='welcome_to'>
    <p>In <i class="fas fa-book"></i>Bookers,<br>
    you can share and exchange your opinions , inpressions , and emotions<br>
    about various books!</p>
    </div><!--welcome_to-->
    <div class="top_page_login">
    <i class="fas fa-sign-in-alt"></i><%= link_to "login",  new_user_session_path %>
    </div>
    <div class="top_page_signup">
    <i class="fas fa-clipboard-list"></i><%= link_to "sign up",  new_user_registration_path %>
    </div>

  </div>
 </div><!--row-->
</div><!--container-->