<div class="container bg-primary">

  <div class="row">
    <div class="col-3">
     <p>1111111111</p>
    </div>
    <div class="col-3">
     <p>2222222222</p>
    </div>
    <div class="col-3">
     <p>3333333333</p>
    </div>
    <div class="col-3">
     <p>4444444444</p>
    </div>
    <div class="col-3">
     <p>5555555555</p>
    </div>
    </div>
    <div class="row">
    <div class="col-6 offset-3">
      <%= image_tag 'no_image.jpg', size: '320x300' %>
    </div>
    <div class="col-4">
      <p>♥</p>
    </div>
    <div class="col-4 offset-4">
      <p>goods数: 18</p>
    </div>
    <div class="offset-4">
      <p>ジャンル1</p>
    </div>
     <div class="col">
      <p>ジャンル2</p>
      <br>
    </div>


  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= image_tag 'no_image.jpg', size: '320x300' %>
    </div>
  </div>
</div>


