/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';
  @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Alex+Brush&family=Bad+Script&family=Ubuntu:wght@300&display=swap');

  @charset "UTF-8";

  header table{
    font-size: 150%;
  }



  .alert{
    color: red;
  }

  .notice{
    color: #7ab977;
  }

  caption,
  .notice,
  .alert{
   //ここからGoogleFonts----------------------------------
   font-family: 'Abhaya Libre', serif;
   font-family: 'Alex Brush', cursive;
   font-family: 'Bad Script', cursive;
   font-family: 'Ubuntu', sans-serif;
   //ここまでGoogleFonts----------------------------------
  font-size: 30px;
  }

  .container {
    white-space: nowrap;
    width: 200%;
  }

  header .container {
    padding-top: 10px;
  }

  #arrow_top {
    position: fixed;
    right: 2%;
    bottom: 5%;
  }


  footer p {
    text-align: center;
    font-size: 1.2rem;
  }


  //ハンバーガー ============================//
  #hm-icon {
  right: 20rem;
  top: 0.5rem;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 3rem;
  height: 0.8rem;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 110%;
}
.menu-trigger span:nth-child(3) {
  top: 230%;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateX(-15px) ;
  transform: translateX(-15px) ;
  background-color: #000;
}
.menu-trigger.active span:nth-child(2) {
 background-color: #000;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateX(15px) ;
  transform: translateX(15px) ;
  background-color: #000;
}



#main-menu {
  background-color: DarkSeaGreen;
  color: #fff;
  width: 200%;
  display: none;
}

